.row{
    overflow: hidden;
}

.row-fluid{
     white-space: nowrap;
}

.col-lg-2{
     display: inline-block;
     border: #cdcdcd medium solid;
     border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

.col .col-lg-4 {
height: 300px;
overflow: scroll;
border: #cdcdcd medium solid;
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
}

.ul {
    word-wrap: break-word;
}

#right {
  float: left;
  overflow-y: scroll;
  height: 500px;
}
